body{
  margin: 0;
}
        /*-----start header-sec-----*/

.half-width{
    width: 50%;
}
.header{
    padding: 0 10%;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: ;
    
}
.mission-text{
    padding-top: 10%;
}
.font-bg{

    border-left: 3px solid;
    border-image: linear-gradient(red, blue );
    border-image-slice: 1;
}
.font-bg{
    padding-left: 5px;
    font-size: 35px;
}
.mii-color{
    color:#FF4F5A;
}
.mission-text p{
    color:cadetblue;
    padding-right: 80px;
}
.mission-text button{
    background-color:#A08638;
    border: none;
    border-bottom: 2px solid #c86a40;
    padding: 10px 40px;
    margin-top: 10px;
    border-radius: 4px;
	color:#fff;
	font-family:titillium web;
}
.mission-pic img{
    width:80%;
    padding-top:10%;
    padding-left: 20%;
}

/*-------end header-sec-----*/

/*-----start about-sec-----*/

.web-title{
    text-align: center;
    font-size:23px;
}
.web-about{
    display: flex;
    width: 80%;
    padding-left:8%;
}
.details img{
    height: 100px;
    width: 100px;
}
.details{
    height: 300px;
    width: 350px;
    margin: 50px 20px 20px 80px;
    padding: 30px;
    background-color:#bdd1df;
    border-radius: 5px;
}
.first-card{
    background-color: #ECF0F3;
}
.sceond-crad{
    background-color: #FBFCFC;
}
.third-card{
    background-color: #FAFBFC;
}

/*-----end about-sec-----*/

/*-----start practice-sec-----*/

.practice-sec{
    display: flex;

}
.practice-pic img{
    width:80%;
    padding-top:10%;
    padding-left: 20%;
}
.practice-text{
    padding-top: 15%;
    padding-left: 10%;
}
.practice-text p{
    color:cadetblue;
    padding-right:150px;
}


/*-----end practice-sec-----*/

/*-----start practice-sec-----*/

.project-sec{
    display: flex;
}
.project-pic img{
    width:80%;
    padding-top:10%;
    padding-right: 20%;
}
.project-text{
    padding-top: 10%;
    padding-left: 10%;
}
.project-text p{
    color:cadetblue;
    padding-right: 80px;
}

/*-----end practice-sec-----*/

/*-----start app-sec-----*/
.app-title{
    text-align: center;
    font-size:23px;
}
.app-sec{
    display: flex;
}
.app-pic img{
    width:60%;
    padding-top:10%;
    padding-left: 20%;
}
.app-text{
    padding-top: 10%;
    padding-left: 10%;
}
.app-text p{
    color:cadetblue;
    padding-right: 100px;
}
/*-----end app-sec-----*/

.footer-sec{
    background-color: #000000;
    height: 100px;
}
.footer-text{
    color:#fff;
    text-align: center;
}
.footer-text h2{
    color:#FF4F5A;
    padding-top: 10px;
}
.footer-text p{
    font-size:small;
}
