body{
  margin: 0;
  background-color: #ECF0F3;
}
            /*-----start header section-----*/

.half-width{
    width: 50%;
}
.header{
    padding: 0 10%;
    display: flex;
}
.mission-text{
    padding-top: 10%;
}
.mission-text h1{
    border-left: 3px solid;
    border-image: linear-gradient(#008773,#F8FAFA );
    border-image-slice: 1;
    padding-left: 5px;
    font-family:'Spline Sans', sans-serif;
    font-weight: 900px;
    font-size: 35px;
}
.imp-color{
    color:#FF014F;
}
.mission-text p{
    color:#5f9ea0;
    padding-right: 80px;
}
.mission-text button{
    background-color:#A08638;
    border: none;
    border-bottom: 2px solid #c86a40;
    padding: 10px 40px;
    margin-top: 10px;
    border-radius: 4px;
	color:#fff;
	font-family: 'Spline Sans', sans-serif;
    font-weight:600;
    letter-spacing: 1px;
}
.mission-pic img{
    width:80%;
    padding-top:12%;
    padding-left: 20%;
}

            /*-------end header section-----*/

            /*-----start about section-----*/

.web-title h1{
    text-align: center;
    font-size: 30px;
    font-family: 'Spline Sans', sans-serif;
}
.web-about{
    display: flex;
    width: 80%;
    padding-left:8%;
}
.details img{
    height: 50px;
    width: 50px;
}
.details{
    height: 300px;
    width: 450px;
    margin: 50px 20px 20px 80px;
    padding: 30px;
    /*background-image: linear-gradient(#E5EAEE,#FDFEFE);*/
    border-radius: 10px;
    border: 1px solid #e9d8d8;
}
.first-card{
    background-color: #E5EAEE;
}
.sceond-crad{
    background-color: #EAF8F8;
}
.third-card{
    background-color: #F8FAFA;
}
.details h3{
    color:rgb(128, 125, 121)
}
.details p{
    color: #5f9ea0;
}

            /*-----end about section-----*/

            /*-----start learn section-----*/

.learn-sec{
    display: flex;

}
.learn-pic img{
    width:80%;
    padding-top:2%;
    padding-left:15%;
}
.learn-text{
    padding-top: 10%;
}
.learn-text h2{
    color: #000000;
    word-spacing: 1px;
    letter-spacing: 1px;
    font-family: 'Spline Sans', sans-serif;
    font-size: 30px;
}

.learn-text p{
    color:#5f9ea0;
    padding-right:200px;
    word-spacing: 1px;
    font-size:18px;
}
.learn-text button{
    background-color:#A08638;
    border: none;
    border-bottom: 2px solid #c86a40;
    padding: 10px 40px;
    margin-top: 10px;
    border-radius: 4px;
	color:#fff;
	font-family: 'Spline Sans', sans-serif;
    font-weight:600;
    letter-spacing: 1px;
}

            /*-----end learn section-----*/

            /*-----start projrct section-----*/

.project-sec{
    display: flex;
}
.project-text{
    padding-top: 5%;
    padding-left: 10%;
}
.project-text h2{
    color: #000000;
    word-spacing: 1px;
    letter-spacing: 1px;
    font-family: 'Spline Sans', sans-serif;
    font-size: 30px;
}
.project-text p{
    color:#5f9ea0;
    padding-right:80px;
    word-spacing: 1px;
    font-size:18px;
}
.project-text button{
    background-color:#A08638;
    border: none;
    border-bottom: 2px solid #c86a40;
    padding: 10px 40px;
    margin-top: 10px;
    border-radius: 4px;
	color:#fff;
	font-family: 'Spline Sans', sans-serif;
    font-weight:600;
    letter-spacing: 1px;
}
.project-pic img{
    width:80%;
    padding-top:5%;
    padding-right:;
}
            /*-----end project section-----*/

            /*-----start app section-----*/
.app-title{
    text-align: center;
    font-size:23px;
}
.app-sec{
    display: flex;
}
.app-pic img{
    width:60%;
    padding-top:5%;
    padding-left: 20%;
}
.app-text{
    padding-top:5%;
}
.app-text h2{
    color: #000000;
    word-spacing: 1px;
    letter-spacing: 1px;
    font-family: 'Spline Sans', sans-serif;
    font-size: 30px;
}
.app-text p{
    color:#5f9ea0;
    padding-right:200px;
    word-spacing: 1px;
    font-size:18px;
}
.app-text button{
    background-color:#A08638;
    border: none;
    border-bottom: 2px solid #c86a40;
    padding: 10px 40px;
    margin-top: 10px;
    border-radius: 4px;
	color:#fff;
	font-family: 'Spline Sans', sans-serif;
    font-weight:600;
    letter-spacing: 1px;
}

            /*-----end app-sec-----*/

            /*-----start footer section-----*/
.footer-sec{
    background-color: #000000;
    height: 100px;
}
.footer-text{
    color:#fff;
    text-align: center;
}
.footer-text h2{
    color:#A08638;
    font-size: 30px;
    padding-top: 10px;
}
.footer-text p{
    font-size:small;
}
        /*------end footer section-----*/